.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 25px 0;
}

.right {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.iconBlock {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.icon {
  margin-left: 30px;
  cursor: pointer;
}
